$primary-color: #263238 !default;
$secondary-color: #2196f3 !default;
$background-color: #f2f2f2 !default;

$font-family: unquote('"Fira Sans", Arial, Helvetica, sans-serif') !default;
$heading-font-family: unquote('"Fira Sans Condensed", Arial, Helvetica, sans-serif') !default;

$sm: 600px;
$md: 840px;
$lg: 1440px;

$breakpoints: (
    sm: '(max-width: #{$sm - 1})',
    gt-sm: '(min-width: #{$sm})',

    lt-md: '(max-width: #{$sm - 1})',
    md: '(min-width: #{$sm}) and (max-width: #{$md - 1})',
    md-up: '(min-width: #{$sm})',
    gt-md: '(min-width: #{$md})',

    lt-lg: '(max-width: #{$md - 1})',
    lg: '(min-width: #{$md}) and (max-width: #{$lg - 1})',
    lg-up: '(min-width: #{$md})',
    gt-lg: '(min-width: #{$lg})',

    xl: '(min-width: #{$lg})'
);