.app-header {
    .mdc-top-app-bar__title {
        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .mdc-top-app-bar__action-item {
        cursor: pointer;
    }
}