@use 'mdc-react/src/button';
@use 'styles/mixins';

.app-header {
    .mdc-top-app-bar__title {
        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        @include mixins.media-query(sm) {
            display: none;
        }
    }

    .mdc-top-app-bar__action-item {
        cursor: pointer;

        .mdc-button {
            @include button.filled-accessible(#263238);
        }
    }
}