#app-header {
    .mdc-top-app-bar__section{
        .mdc-text-field {
            margin-left: auto;
        }
    }

    .mdc-top-app-bar__section--align-end {
        flex: none;
    }

    .mdc-top-app-bar__title {
        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}