#book-page {
    img {
        width: 100%;
    }

    .mdc-badge[data-badge="0"] {
        &::after {
            display: none;
        }
    }

    .book-description {
        p {
            margin-top: 0;
        }
    }
}