$primary-color: #263238 !default;
$secondary-color: #2196f3 !default;

@use 'mdc-react' with (
    $primary: $primary-color,
    $secondary: $secondary-color
);

* {
    box-sizing: content-box;
}

body {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    min-height: 100vh;
}